@model IReadOnlyCollection<RoomReservation.Domain.Contracts.Room.Dtos.RoomDto>
@inject SessionHelper SessionHelper

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Number</th>
        <th scope="col">Max people</th>
        <th scope="col">Categories</th>
        <th scope="col">Equipment</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.RoomNumber</th>
            <th>@item.MaxPeople</th>
            <th>@string.Join(",", item.Categories.Select(x => x.Name))</th>
            <th>@string.Join(",", item.Equipment.Select(x => x.Name))</th>
            <th>
                <a href="/Reservation/Reserve?id=@item.Id" class="btn btn-success">Reserve</a>
            </th>
            @if (SessionHelper.IsAdmin)
            {
                <th>
                    <a href="/Building/AddEdit?id=@item.Id" class="btn btn-primary">Edit</a>
                </th>
                <th>
                    <a href="/Building/Remove?id=@item.Id" class="btn btn-danger">Remove</a>
                </th>
            }
            else
            {
                <th></th>
                <th></th>
            }
        </tr>
    }
    </tbody>
</table>